.Projects {
  background-color: #f7f7f7;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  position: relative;
  font-size: 3rem;
  margin: 80px 0;
  font-weight: 300;
}

.h1::after {
  content: ' ';
  display: block;
  position: absolute;
  height: 3px;
  background: black;
  width: 120px;
  left: 120%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
}
.h1::before {
  content: ' ';
  display: block;
  position: absolute;
  height: 3px;
  background: black;
  width: 120px;
  right: 120%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
}
