.HeroNav {
  padding: 0;
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-top: -60px;
}

.HeroNav li a {
  color: black !important;
  font-weight: 400;
}

.HeroNav li a:hover::after {
  display: block;
  content: '';
  position: relative;
  top: 10px;
  width: 80%;
  left: 10%;
  border: 1px solid black;
}
