.NavItem {
  display: inline-block;
}

.HeroNavItem {
  display: inline-block;
  padding: 5px 0;
}

.HeroNavItem p {
  position: relative;
  margin: 0;
  padding: 10px;
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
}

.HeroNavItem p:hover {
  cursor: pointer;
}

.HeroNavItem p::before {
  position: absolute;
  display: block;
  content: ' ';
  background-color: rgba(255, 255, 255, 0.747);
  height: 3px;
  width: 15px;
  top: 50%;
  left: -20px;
}

.HeroNavItem .PROJECTS::before {
  left: 20px;
}

.HeroNavItem .SKILLS::before {
  left: 60px;
}

.HeroNavItem .PROJECTS {
  padding-left: 50px;
}

.HeroNavItem .SKILLS {
  padding-left: 90px;
}

.NavItem p {
  margin: 0;
  padding: 25px 0;
  text-decoration: none;
  color: white;
  font-weight: 300;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  font-size: 1.8rem;
}

.NavItem p:hover {
  cursor: pointer;
}

.JPlummer {
  display: none;
  padding: 0;
}

@media screen and (min-width: 426px) {
  .NavItem {
    display: inline-block;
    position: relative;
    padding: 0;
  }

  .HeroNavItem {
    display: inline-block;
    padding: 0;
  }

  .HeroNavItem p {
    margin: 0;
    padding: 0 50px;
    font-size: 1.6rem;
  }

  .HeroNavItem p::before {
    display: none;
  }

  .HeroNavItem p::after {
    display: block;
    position: absolute;
    content: ' ';
    background-color: rgba(255, 255, 255, 0.753);
    height: 2px;
    width: 30%;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
  }

  .HeroNavItem p:hover {
    transform: scale(1.1);
    text-shadow: 0 0 40px white;
    animation: mouse-over 0.2s;
  }

  @keyframes mouse-over {
    0% {
      transform: scale(1);
      text-shadow: 0 0 0px white;
    }
    50% {
      text-shadow: 0 0 60px white;
    }
    100% {
      transform: scale(1.1);
    }
  }

  .HeroNavItem .ABOUT {
    padding-left: 50px;
  }

  .HeroNavItem .SKILLS {
    padding-left: 50px;
  }

  .NavItem p {
    padding: 0 0 3px 0;
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 1.4rem;
  }

  .NavItem p:hover {
    cursor: pointer;
    border-bottom: 1px solid white;
  }

  .NavItem .PROJECTS,
  .NavItem .ABOUT,
  .NavItem .SKILLS {
    margin: 0 30px;
  }
  .JPlummer {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .NavItem .JPlummer {
    display: flex;
    font-family: 'Bilbo Swash Caps', cursive;
    font-style: italic;
    font-size: 1.6rem !important;
    margin: 0 20px;
  }

  .JPlummer:hover {
    border: none !important;
  }

  .HeroNavItem p {
    font-size: 2rem;
  }

  .HeroNavItem .PROJECTS {
    font-size: 2.5rem;
    padding: 0 80px;
  }
}

@media screen and (min-width: 1440px) {
  .NavItem p {
    font-size: 1.5rem;
  }
  .JPlummer {
    font-size: 1.8rem !important;
  }
  .HeroNavItem p {
    font-size: 2.2rem;
  }
  .HeroNavItem .PROJECTS {
    font-size: 3rem;
    padding: 0 120px;
  }
}

@media screen and (min-width: 1920px) {
  .HeroNavItem p {
    font-size: 2.5rem;
  }
  .HeroNavItem .PROJECTS {
    font-size: 3.5em;
    padding: 0 180px;
  }
}

@media screen and (min-width: 2560px) {
  .NavItem p {
    font-size: 2rem;
  }
  .JPlummer {
    font-size: 2.2rem !important;
  }
}
