.Skills {
  background-color: #f7f7f7;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 140px;
}

.h1 {
  position: relative;
  font-size: 3rem;
  margin: 80px 0 60px 0;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgb(97, 97, 97);
}

.h1::after {
  content: ' ';
  display: block;
  position: absolute;
  height: 3px;
  background: black;
  width: 120px;
  left: 120%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
}
.h1::before {
  content: ' ';
  display: block;
  position: absolute;
  height: 3px;
  background: black;
  width: 120px;
  right: 120%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
}

.Skills .Overview {
  width: 50%;
  margin: 0 0 40px 0;
  font-size: 1.5rem;
  line-height: 150%;
  word-spacing: 0.1rem;
  color: rgb(70, 70, 70);
  text-shadow: 1px 1px 1px rgba(182, 182, 182, 0.562);
}

.Skills h2 {
  font-size: 2.5rem;
  font-weight: 300;
  color: black;
  text-shadow: 1px 1px 1px rgba(172, 172, 172, 0.459);
}

.Skills button {
  color: white;
  background: linear-gradient(
    0deg,
    rgba(0, 71, 131, 1) 0%,
    #0092e7 10%,
    #00a3ff 100%
  );
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 6px 20px;
  margin: 80px 0 0 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.Skills a {
  text-decoration: none;
  color: white;
}
