.Footer {
  text-align: center;
  background-color: #333;
  height: 40px;
  margin: 0 0 20px 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer p {
  color: white;
  font-size: 0.8rem;
}

@media screen and (min-width: 2560px) {
  .Footer {
    height: 70px;
  }

  .Footer p {
    font-size: 1.2rem;
  }
}
