.Image {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: rgb(204, 204, 204);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.486);
}

.Image ul {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.651);
  border: 1px solid rgba(0, 0, 0, 0.171);
}

.Image ul.L {
  right: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.Image ul.R {
  left: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.Image ul li {
  text-shadow: 1px 1px 1px rgba(143, 143, 143, 0.452);
}

.Image ul.L li {
  list-style: none;
  text-align: right;
  background: rgb(0, 71, 131);
  background: linear-gradient(
    0deg,
    rgba(109, 109, 109, 0.514) 0%,
    rgb(235, 235, 235) 10%,
    rgb(197, 197, 197) 100%
  );
  margin: 15px 10px;
  padding: 5px 15px;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.466);
  border-radius: 10px;
  border-right: 1px solid rgb(116, 116, 116);
  box-shadow: 0 0 2px rgb(0, 0, 0);
}

.Image ul.R li {
  list-style: none;
  text-align: left;
  background: rgb(0, 71, 131);
  background: linear-gradient(
    0deg,
    rgba(109, 109, 109, 0.514) 0%,
    rgb(235, 235, 235) 10%,
    rgb(197, 197, 197) 100%
  );
  margin: 15px 10px;
  padding: 5px 15px;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.466);
  border-radius: 10px;
  border-left: 1px solid rgb(116, 116, 116);
  box-shadow: 0 0 2px rgb(0, 0, 0);
}

.Image img {
  opacity: 0.98;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
